body {
    margin: 0px;
    width: 100%;
    background: black;
}
    
    #navigation {
        background: black;
    }
        
        button {
            border: 0px;
            padding: 0px;
            background: none;
        }
    
    #content {
        background: white;
    }
    
        table {
            width: 100%;
        }
    
            tr {
                width: 100%;
                visibility: collapse;
                background: white;
                display: none;
            }
            
                td {
                    width: 100%;
                    padding: 0px;
                }